/* You can add global styles to this file, and also import other style files */
body {
  background: url('./assets/images/background.jpg') no-repeat center center fixed;
  //color: white;
  background-size: cover;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
 
.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
} 

.wrap {
  display: block;
  background-color: rgba(0,0,0,0.7);
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.side{
    font-size: 3vw;
    width: 25%;
}

.big_num{
    width: 22%;
}

.team{
    width: 44%;
    font-size: 2vw;
}

.small_num{
    width: 16%;
}

.lower {
    font-size: 5vw;
    height: 20%;
}

.score {
    font-size: 10vw;
}
// injector
// endinjector

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
