.container {
  margin-top: 1rem;
}
.maindiv {
  height: 100vh;
  background: linear-gradient(to bottom, #fff, #aaa);
}
.row {
  height: 100vh !important;
  align-items: center !important;
}

.container-fluid {
  padding: 0 !important;
}
 