
<!--
<div class="nav-bar">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/status" (click)="updateScreenStatus('statusscreen')">Game</a>
      <a class="nav-item nav-link" routerLink="/" (click)="updateScreenStatus('top10screen')">Top 10</a>
    </div>
  </nav>
</div>
	-->
	
<div class="scroll-left" style="color:#ccffff;">
  <p> Welcome to the Mensa Wuzzler! Connect to WiFi Access Point "wuzzler" and open http://wuzzler.org in your web browser!        </p>
<!-- <p> {{wuzzlerService.game.status}}</p>  -->
</div>

